*.swp
__pycache__/
init.sh
build/
G4History.macro
*.pyc
simulation/simulation.conf
simulation/particleconversion/particleconversion
simulation/avalanche/avalanche
simulation/drift/drift
simulation/outfiles/
.clang_complete
simulation/avalanche/geometry/geometry/elec.0001.vtu
simulation/avalanche/geometry/*.obj
