*.swp
__pycache__/
init.sh
build/
G4History.macro
*.pyc
simulation/simulation.conf
simulation/particleconversion/particleconversion
simulation/avalanche/avalanche
simulation/drift/drift
simulation/outfiles/
simulation/meshs/
simulation/runs/
.clang_complete
simulation/avalanche/geometry/geometry/
simulation/avalanche/geometry/*.obj
